<div class="navbar navbar-inverse" >
    <div class="'container-fluid">
        <div id="navbar-main">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="navvm.isLoggedIn"><a href="login">Sign In &nbsp&nbsp</a> </li>
                <li ng-show="navvm.isLoggedIn"><a href="profile">{{navvm.currentUser.name}}</a></li>
                <li ng-if="navvm.isLoggedIn"> <a href="/" ng-click="navvm.logOut()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>